<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppCredentials</key>
	<dict>
		<key>API_FBM_SERVER_URL</key>
		<string>https://fbm.test.bitmark.com</string>
		<key>ONESIGNAL_APP_ID</key>
		<string>60935eed-b209-4af5-8ba6-82e28183a788</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>AtlasGrotesk-Black.otf</string>
		<string>AtlasGrotesk-BlackItalic.otf</string>
		<string>AtlasGrotesk-Bold.otf</string>
		<string>AtlasGrotesk-BoldItalic.otf</string>
		<string>AtlasGrotesk-Light.otf</string>
		<string>AtlasGrotesk-LightItalic.otf</string>
		<string>AtlasGrotesk-Medium.otf</string>
		<string>AtlasGrotesk-MediumItalic.otf</string>
		<string>AtlasGrotesk-Regular.otf</string>
		<string>AtlasGrotesk-RegularItalic.otf</string>
		<string>AtlasGrotesk-Thin.otf</string>
		<string>AtlasGrotesk-ThinItalic.otf</string>
		<string>DomaineSansText-Black.otf</string>
		<string>DomaineSansText-BlackItalic.otf</string>
		<string>DomaineSansText-Bold.otf</string>
		<string>DomaineSansText-BoldItalic.otf</string>
		<string>DomaineSansText-Light.otf</string>
		<string>DomaineSansText-LightItalic.otf</string>
		<string>DomaineSansText-Medium.otf</string>
		<string>DomaineSansText-MediumItalic.otf</string>
		<string>DomaineSansText-Regular.otf</string>
		<string>DomaineSansText-RegularItalic.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
