<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitmark.synergy">

    <application
        android:name="com.bitmark.synergy.SynergyApplication"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feature.getstarted.GetStartedActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.main.MainActivity" />
        <activity
            android:name=".feature.register.onboarding.OnboardingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar" />
        <activity android:name=".feature.register.archiverequest.ArchiveRequestActivity" />
        <activity
            android:name=".feature.register.notification.RegisterNotificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar" />

        <service
            android:name=".feature.notification.AppFirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".feature.notification.DeleteFirebaseInstanceIdService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>
</manifest>
