<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitmark.fbm">

    <application
        android:name="com.bitmark.fbm.FbmApplication"
        android:allowBackup="false"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".feature.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".feature.register.onboarding.OnboardingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar" />

        <activity
            android:name=".feature.register.archiverequest.ArchiveRequestContainerActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar" />

        <activity
            android:name=".feature.register.dataprocessing.DataProcessingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar" />

        <activity android:name=".feature.account.AccountActivity" />

        <activity
            android:name=".feature.unlink.UnlinkContainerActivity"
            android:windowSoftInputMode="adjustNothing" />

        <activity android:name=".feature.biometricauth.BiometricAuthActivity" />

        <activity android:name=".feature.recovery.RecoveryContainerActivity" />

        <activity android:name=".feature.support.SupportActivity" />

        <activity
            android:name=".feature.register.notification.NotificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar" />

        <activity
            android:name=".feature.register.trustnotice.TrustNoticeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar" />

        <activity android:name=".feature.signin.SignInActivity" />

        <activity android:name=".feature.whatsnew.WhatsNewActivity" />

        <activity
            android:name=".util.view.WebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.TransparentStatusBar" />

        <activity android:name=".feature.increaseprivacy.IncreasePrivacyActivity" />

        <receiver
            android:name=".feature.notification.ScheduledNotificationReceiver"
            android:windowSoftInputMode="adjustNothing" />

        <meta-data
            android:name="com.onesignal.NotificationAccentColor.DEFAULT"
            android:value="@color/colorAccent" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://130cf5848b034aba80d026039d64974e@sentry.io/1857021" />
    </application>
</manifest>
